<div>
  Select card type
  {{#validated-select _id="cardType" formFields=formFields contentPosition="after"}}
    <div id="cardError">You have to use a card</div>
  {{/validated-select}}
</div>

<div>
  Already selected value
  {{#validated-select _id="cardExp" formFields=formFields contentPosition="after"}}
    <div id="cardError">Your card must expire</div>
  {{/validated-select}}
</div>

<div>
  {{#validated-input _id="securityCode" formFields=formFields contentPosition="after" placeholder="Security Code"}}
    <div id="codeError">Invalid security code</div>
  {{/validated-input}}
</div>

<button id="submitForm" {{action "submitForm"}}>Submit Form</button>
