<div>
  {{#validated-input _id="name" formFields=formFields contentPosition="after" placeholder="Name"}}
    <div id="nameError">Only alpha chars</div>
  {{/validated-input}}
</div>

<div>
  {{#validated-input _id="zipCode" formFields=formFields contentPosition="after" placeholder="Zip Code"}}
    <div id="zipError">Only numeric chars</div>
  {{/validated-input}}
</div>

<div>
  Are you cool?
  {{#validated-checkbox _id="cool" formFields=formFields contentPosition="after"}}
    <div id="coolError">You must be cool</div>
  {{/validated-checkbox}}
</div>

<div>
  How much do you love this addon?
  {{#validated-select _id="love" formFields=formFields contentPosition="after"}}
    <div id="loveError">No love at all?</div>
  {{/validated-select}}
</div>

<button id="formValid" {{action "formValid"}}>Form Valid?</button>
<button id="markInvalid" {{action "markInvalid"}}>Mark Invalid</button>
<button id="formData" {{action "formData"}}>Log Form Data</button>
